.page{
    
    background-color: #fafafa;
    
    
}

.top-container{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 30px;
}

.main-container{
    margin-right: 30px;
}

.main-container img{
    margin-bottom: 26px;
}

.text-container{
    width: 100%;
    height: 540px;
    background-color: #fff;
}

.side-container{
    width: 310px;
    
}

.side-item{
    background-color: #fff;
    width: 100%;
    margin-bottom: 30px;
    padding: 0 30px;
}

.side-item:first-child{
    height: 359px;
}

.side-item:not(first-child) {
    height: 220px;
}

.side-item .title{
    padding: 30px 0px 15px;
    border-bottom: 1px solid #eee;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.side-item .body{
    height: 153px;
}

.side-item .body .file-content{
    height: 100%;
    line-height: 153px;
    text-align: center;
    font-size: 12px;
}

.side-item .body .file-content a{
    color: #1d478a;
}

.req-title{
    margin: 20px 0 15px ;
}

.req-items{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.req-item{
    text-align: center;
}

.req-item .label{
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

.req-item .value{
    font-size: 14px;
    color: #1d478a;
    font-weight: 600;
    margin-bottom: 15px;
}

.infos{
    padding: 15px 10px 20px;
    line-height: 22px;
    font-size: 14px;
    color: #999;
}

.btn{
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    background-color: #1d478a;
    cursor: pointer;
}

/* footer */

.footer-sec1{
    height: 175px;
    background-color: #333333;
    color: #fff;
}

.footer-sec2{
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    color: #999;
    text-align: center;
}

.footer-sec1 ul{
    text-align: center;
}

.footer-sec1 ul li {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    line-height: 34px;
    margin: 20px 100px;
}

.text-container{
    padding: 30px 20px 40px;
}

.text-nav{
    display: flex;
    border-bottom: 1px solid #eee;
}

.text-nav .nav-item{
    padding: 15px 22px;
    margin-right: 56px;
    font-weight: 600;
    cursor: pointer;
}

.text-nav .nav-item.on{
    border-bottom: 2px solid #1d478a;
}

.text-content{
    margin-top: 20px;
    width: 820px;
    font-size: 14px;
    line-height: 25px;
    height: 400px;
    overflow: auto;
}